<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto+Slab" rel="stylesheet">

    <script src="~/Scripts/MainScripts.js" type="text/javascript"></script>

    <link href="~/Style/Style.css" rel="stylesheet">
    
    <title>selfdestructedMes - самоуничтожающиеся сообщения</title>
</head>
<body>
    <div id="mainDiv">
        <div style="width:auto;">
            <a href="~/" id="logoRef">
                <div>
                    <div id="logoGray">selfdest</div>
                    <div id="logoGreen">MESS</div>
                </div>
                <div style="margin-top:-10px;">
                    <div id="logoMotto">самоуничтожающиеся сообщения</div>
                </div>
            </a>
        </div>

        <div style="height:30px;"></div>

        <div>
            @RenderBody()
        </div>


        <div id="about">
            Andrew's portfolio project ;)
        </div>
    </div>

</body>
</html>
