
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/_MainLayoutPage.cshtml";
}
<p>
Сожалеем, но что-то пошло не так...
</p> 

<p>
    Возможные причины:
    <ul>
        <li>истекло время жизни сообщения;</li>
        <li>превышено число показов сообщения;</li>
        <li>вы запросили несуществующую ссылку;</li>
        <li>не удалось установить соединение с базой данных.</li>
    </ul>
</p>

@Html.ActionLink("Вернуться на главную", "Index", "Home");

