
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/_MainLayoutPage.cshtml";
}

<p>
    Вы запросили страницу, которая не существует...
</p>

@Html.ActionLink("Вернуться на главную страницу", "Index");
